button{
    margin-left: 10px;
}

.custom-table {
    width: 100%; /* Adjust the table width as needed */
  }
  .headandpara{
    text-align: center;
  }


  .wrap-text {
    word-wrap: break-word;
    white-space: normal;
    max-width: 250px; /* Adjust this value as needed */
  }